<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../static/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"">
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="../img/undraw_true_friends_c-94-g.svg">
        </div>
        <main>
            <div class="form">
                <header class="form-header">
                    <div class="title">
                        <h1>Sign Up</h1>
                    </div>
                </header>
                <form>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="email">Email</label>
                            <div class="input-wrapper">
                                <i class="fa-regular fa-envelope"></i>
                                <input id="email" type="text" name="email" placeholder="Enter your email" required>
                            </div>
                        </div>
                        <div class="input-box">
                            <label for="password1">Password</label>
                            <div class="input-wrapper">
                                <i class="fa-solid fa-lock"></i>
                                <input id="password1" type="password" name="password1" placeholder="Create a password" required>
                            </div>
                        </div>
                        <div class="input-box">
                            <label for="password2">Password confirmation
                            </label>
                            <div class="input-wrapper">
                                <i class="fa-solid fa-lock"></i>
                                <input id="password2" type="password" name="password2" placeholder="Confirm your password" required>
                            </div>
                        </div>
                        <div class="link-area">
                            <a href="../templates/Signin.html">Already have a account? Sign In</a>
                        </div>
                        <button>Sign Up</button>
                        <div class="sign-up-in-area">
                            <p>Sign Up with </p>
                            <a href="#"><i class="fa-solid fa-g"></i></a>
                            <a href="#"><i class="fa-solid fa-f"></i></a>
                            <a href="#"><i class="fa-solid fa-p"></i></a>
                        </div>
                    </div>        
                </form>
            </div>
        </main>
    </div>
</body>
</html>